.top-cart{
    height: 400px;
    background-image: url(img/cart/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title{
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    color: #FFFFFF;
    margin-top: 127px;
}
.cart{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;

    &-name-box{
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
    }

    &-item{
        border-top: 0.5px solid #CACDD8;
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &-info{
        width: 276px;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
    
    &-left{
        display: flex;
        gap: 32px;
    }

    &-title-item{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;  
        transition: all 0.3s;
    }
    &-title-item:hover{
        transform: scale(1.1);
    }

    &-desc{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
    }
    &-price{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #050505;
    }


    &-form{
        background: #F7F6F6;
        border-radius: 20px;
        height: 556px;
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        gap: 44px;
        align-items: center;
    }

    &-content{
        grid-column: span 8;
    }
    &-input{
       
        background: #F7F6F6;
        border-radius: 6px;
        border-color: transparent;
        font-weight: 600;
        font-size: 14px;
        line-height: 29px;
        width: 71px;
        height: 51px;
        box-sizing: border-box;
        padding-left: 24px;
        padding-top: 11px;
        padding-bottom: 13px;
    }

    &-link-box{
        display: flex;
        gap: 30px;
    }

    &-link{
        font-weight: 400;
        font-size: 14px;
        line-height: 210%;
        text-decoration-line: underline;
        color: #000000;
        transition: all 0.3s;
    }
    &-link:hover{
        transform: scale(1.2);
    }
    &-form-input{
        border: none;
        border-bottom: 1px solid #CACDD8; 
        width: 288px;
        background-color: transparent;
        outline: 0;
        outline-offset: 0;
    }
    &-order-text{
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        padding-top: 42px;
    }
    &-total-sum{
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }
    &-sum{
        font-weight: bold
    }

    &-price{
        font-weight: bold
    }
    &-offer-button{
        background: transparent;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 20px;
        width: 275px;
        height: 46px;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
        cursor: pointer;
    }
    &-offer-button:hover{
        background: #000000;
        color: #FFFFFF;
    }

    &-button-function{
        background: transparent;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 20px;
        width: 190px;
        height: 30px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        cursor: pointer;
        transition: all 0.5s;
        
    }
    &-buttons{
        display: flex;
        gap: 10px;
        padding-top: 30px;
    }

}
.cart-form-input::-webkit-outer-spin-button,
.cart-form-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.sub-title{
    padding-top: 74px;
}
.pulsate-fwd {
	-webkit-animation: pulsate-fwd 2.5s ease-in-out infinite both;
	        animation: pulsate-fwd 2.5s ease-in-out infinite both;
}
.cart-button-function:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px #ccc ;
}